<!-- game.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра</title>
    <link rel="stylesheet" href="/static/styles/game.css">
</head>
<body>
    <div id="splash-screen">
        <h1>© 2025 mside Inc</h1>
        <label for="nickname">Введите никнейм:</label>
        <input type="text" id="nickname" />
        <button onclick="startGame()">Старт</button>
    </div>

    <!-- game.html -->
<div id="lobby" class="hidden">
    <p>Привет, <span id="player-name"></span></p>
    <button onclick="findPlayers()" id="find-players-btn">Подбор игроков</button>
    <p id="status"></p>
    <div id="progress-bar" class="hidden">
        <div id="progress" class="progress"></div>
        <p id="matchmaking-status">Поиск игроков...</p>
    </div>
</div>

    <div id="game" class="hidden">
        <p id="game-status">Игра начнется после подбора игроков...</p>
        <button onclick="startGlassBridgeGame()">Начать игру</button>
        <div id="bridge" class="bridge"></div>
    </div>
	
	<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/static/js/game.js"></script>
</body>
</html>
